<header>
  <div class="topnav">
    <a href="#">Group Generator</a>
    <a href="http://localhost:3000/">Accueil</a>
    <a href="http://localhost:3000/students">Students</a>
    <a href="http://localhost:3000/Groups">Groups</a>
  </div>
</header>
